---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import BentoGrid from '../components/BentoGrid.astro';
import Events from '../components/Events.astro';
import Footer from '../components/Footer.astro';
import SideNav from '../components/SideNav.astro';
---

<Layout>
  <SideNav />

  <section id="hero">
    <Hero />
  </section>

  <section id="sobre">
    <BentoGrid />
  </section>

  <section id="eventos">
    <Events />
  </section>

  <section id="depoimentos">
    <Footer />
  </section>
</Layout>
